html, body {
    scroll-behavior:smooth;
}

body a {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: sans-serif;
}

.name {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


header a:after, #northwestern:after, #aws:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition: width .5s ease;
}

header a:hover:after, #northwestern:hover:after, #aws:hover:after {
    width: 100%;
    left: 0;
    background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);;
}

.name a, .main-nav a {
    position: relative;
    display: block;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: grey;
    margin: 10px 15px;
    font-size: 18px;
    font-weight: 600;
}

.main-nav a:hover {
    color: black;
}

.parallax-window {
    min-height: 550px;
    background: transparent;
    padding: 20px;
}

.parallax-text {
    padding: 8% 0 10% 0;
    font-family: Arial, Helvetica, sans-serif;
}
#greeting {
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-size: 72px;
}

#headline {
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5em;
}

#northwestern {
    position: relative;
    color: rebeccapurple;
}

#aws {
    position: relative;
    color: goldenrod;
}

#work {
    position: relative;
    top: 4px;
}

.part-title {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

.part-title:before {
    display: block;
    width: 80%;
    height: 1px;
    position: relative;
    top: 22px;
    left: 10%;
    content: "";
    background: lightgray;
    z-index: 1;
}

.part-title span {
    position: relative;
    padding: 0 20px;
    background: white;
    z-index: 2;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    position: relative;
    width: 40%;
    margin: 30px;
}

.project-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 6px 6px 30px 0 rgba(10,10,10,0.3);
}

.project-container:hover {
    transition: .3s ease-in-out;
    transform: scale(1.02);
}

.project-container:hover .overlay {
    opacity: 1;
    transition: .3s ease-in-out;
}

.project-container:hover .overlay h3 {
    animation: slide-up .35s ease-out;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease-in-out;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay h3 {
    width: 60%;
    color: white;
    font-size: calc(18px + 18 * ((100vw - 320px) / (800)));

}

.aim-overlay {
    background-color: rgba(32,150,88,0.7);
}

.compiler-overlay {
    background-color: rgba(13,175,255,0.7);
}

.avx-tuning-overlay {
    background-color: rgba(67,154,218,0.7);
}

.lsm-overlay {
    background-color: rgba(127,127,127,0.7);
}

.contact-container {
    position: relative;
    left: 15%;
    display: flex;
}

.contact-slogan {
    width: 30%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 26px;
    font-style: oblique;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.contact-information {
    font-size: 18px;
}

.contact-information span {
    font-weight: bold;
}

.back-to-top-button {
    position: fixed;
    right: 2%;
    bottom: 6%;
    color: darkgray;
}

.material-icons.md-36 {
    font-size: 36px;
}

footer {
    background-color: #F0F0F0;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 35px;
    margin: 5px;
}

.email-me {
    font-size: 16px;
}

.email-me a {
    text-decoration: underline;
    color: gray;
}

.get-in-touch {
    width: 135px;
    height: 50px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.get-in-touch a {
    color: black;
}

.get-in-touch:hover {
    background-color: black;
}

.get-in-touch:hover a {
    color: white;
}


