html, body {
    scroll-behavior: smooth;
    margin: 0;
}

body a {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: sans-serif;
}

.name {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


header a:after, #northwestern:after, #aws:after, .parallax-text h4 a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition: width .5s ease;
}

header a:hover:after, #northwestern:hover:after, #aws:hover:after, .parallax-text h4 a:hover:after,
header a:focus:after, #northwestern:focus:after, #aws:focus:after, .parallax-text h4 a:focus:after {
    width: 100%;
    left: 0;
    background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);;
}

.name a, .main-nav a {
    position: relative;
    display: block;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: grey;
    margin: 10px 15px;
    font-size: 18px;
    font-weight: 600;
}

.main-nav a:hover, .main-nav a:focus {
    color: black;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.parallax-text {
    padding: 9% 0 10% 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.parallax-text h4 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    font-style: italic;
    margin-top: 20px;
}

.parallax-text h4 a {
    position: relative;
    color: rgb(254, 212, 0);
    font-style: normal;
}

#greeting {
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-size: 72px;
}

#headline {
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5em;
}

#northwestern {
    position: relative;
    color: rebeccapurple;
}

#aws {
    position: relative;
    color: goldenrod;
}

#work {
    position: relative;
    top: 4px;
}

.part-title {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

.part-title:before {
    display: block;
    width: 80%;
    height: 1px;
    position: relative;
    top: 22px;
    left: 10%;
    content: "";
    background: lightgray;
    z-index: 1;
}

.part-title span {
    position: relative;
    padding: 0 20px;
    background: white;
    z-index: 2;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    position: relative;
    width: 40%;
    margin: 30px;
}

.project-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 6px 30px 0 rgba(10, 10, 10, 0.3);
}

.project-container:hover {
    transition: .3s ease-in-out;
    transform: scale(1.02);
}

.project-container:hover .overlay, .project-container .overlay:focus {
    opacity: 1;
    transition: .3s ease-in-out;
}

.project-container:hover .project-title, .project-container .overlay:focus .project-title {
    animation: slide-up .35s ease-out;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease-in-out;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title {
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project-title.overview {
    width: 65%;
    font-size: calc(18px + 18 * ((100vw - 320px) / (800)));
}

.project-title.detail {
    font-size: 64px;
    margin-bottom: 0;
}


.aim-overlay {
    background-color: rgba(32, 150, 88, 0.7);
}

.compiler-overlay {
    background-color: rgba(13, 175, 255, 0.7);
}

.avx-tuning-overlay {
    background-color: rgba(67, 154, 218, 0.7);
}

.lsm-overlay {
    background-color: rgba(127, 127, 127, 0.7);
}

.contact-container {
    position: relative;
    left: 15%;
    display: flex;
}

.contact-slogan {
    width: 30%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 26px;
    font-style: oblique;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.contact-information {
    font-size: 18px;
}

.contact-information span {
    font-weight: bold;
}

.back-to-top-button {
    position: fixed;
    right: 2%;
    bottom: 6%;
    color: darkgray;
}

.back-to-top-button:hover, .back-to-top-button:focus {
    color: black;
}

.material-icons.md-36 {
    font-size: 36px;
}

footer {
    background-color: #F0F0F0;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
}

.icon {
    width: 35px;
    height: 35px;
    padding: 5px;
}

.icon img {
    width: 100%;
}

.email-me {
    font-size: 16px;
}

.email-me a {
    text-decoration: underline;
    color: gray;
}

.get-in-touch {
    width: 135px;
    height: 50px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
}

.get-in-touch:hover, .get-in-touch:focus {
    background-color: black;
    color: white;
}

.about-me-position {
    text-align: center;
    color: rebeccapurple;
}

.about-me-container {
    width: 80%;
    position: relative;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-me-text {
    width: 45%;
}

.about-me-title {
    margin: 0;
    color: gray;
    font-size: 26px;
    text-transform: uppercase;
}

.about-me-greeting {
    font-size: 25px;
    margin: 20px 0 10px 0;
}

.about-me-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.about-me-portrait {
    width: 50%;
}

.about-me-portrait img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 5px 6px 30px 0 rgba(10, 10, 10, 0.3)
}





